.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  padding: 1em 2em;
  background: #f2960c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1780a), color-stop(1, #f2960c));
  background: -ms-linear-gradient(bottom, #c1780a, #f2960c);
  background: -moz-linear-gradient(center bottom, #c1780a 0%, #f2960c 100%);
  background: -o-linear-gradient(#f2960c, #c1780a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2960c', endColorstr='#c1780a', GradientType=0);
  border: 1px solid;
  border-color: #b36f09 #a96908 #9b6008 #a96908;
  color: #301f2a !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a:visited,
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a:active,
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a:hover {
  color: #301f2a !important;
}
.so-widget-sow-button-atom-fcd3b32f734e .ow-button-base a.ow-button-hover:hover {
  background: #f39a15;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cb7e0a), color-stop(1, #f39a15));
  background: -ms-linear-gradient(bottom, #cb7e0a, #f39a15);
  background: -moz-linear-gradient(center bottom, #cb7e0a 0%, #f39a15 100%);
  background: -o-linear-gradient(#f39a15, #cb7e0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39a15', endColorstr='#cb7e0a', GradientType=0);
  border-color: #bd7509 #b36f09 #a46608 #b36f09;
  color: #36232f;
}